.image-gallery {
    position: relative;
    background-color: transparent;
}

.image-gallery-slide img {
    height: 30vw;
    color: #fff;
    justify-content: cente
}


.image-gallery-thumbnails-wrapper .image-gallery-slide img{
 justify-content: center;
}

.image-gallery-thumbnails-container{
    background-color: transparent;
    width: 43%;
    padding-top: 0px;
    margin-left: 27%;
    height: 10%;
    bottom: 0;
    
}