#logo {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 3vw;
	text-align: center;
	line-height: 1;
	margin-left: 7%;
	color: crimson;
}

body {
	background-color: rgb(243, 230, 230);
}
